.title {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 114px;
    margin: 0 24px;
    flex-shrink: 0;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 36px;
    padding-bottom: 14px;
}

.details {
    display: flex;
    flex-direction: column;
    margin: 128px;
    margin-top: 121px;
    margin-bottom: 32px;
    border-radius: 64px;
    border: 6px solid #FFB800;
    overflow: hidden;
}

.details-start {
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    margin-bottom: 12px;
}

.details-content {
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.details-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-top: 32px;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.pen-icon {
    position: absolute;
    top: 28px;
    right: 28px;
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.mother-title {
    display: flex;
    margin: 0;
    margin-left: 116px;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mother-title span {
    font-weight: 600;
}

.details-list {
    margin-top: 12px;
}

.details-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.detail-info, 
.detail-chart {
    flex: 1;
    padding: 16px;
    padding-bottom: 0;
    box-sizing: border-box;
}

.detail-chart {
    padding-top: 8px;
}

.detail-info {
    margin-top: 20px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.info-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    margin-left: 32px;
    box-sizing: border-box;
}

.info {
    display: flex;
    align-items: center;
    gap: 16px;
}

.info-icon {
    width: 36px;
    height: 36px;
}

.info-box .text {
    font-family: 'Cairo', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 65px;
}

.info-box .value {
    margin-right: 8px;
    text-align: right;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.info-box .status {
    margin-top: 48px;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.info-box .status-icon {
    margin-top: 46px;
}

.info-box .status-green {
    color: #11CD00;
}

.add-note, .back {
    display: block;
    margin: 32px auto;
    margin-top: 44px;
    padding: 14px 48px;
    text-align: center;
    font-family: 'Cairo', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    background: #FFB800;
    border: 3px solid #997C31;
    cursor: pointer;
    border-radius: 32px;
    transition: background-color 300ms ease;
}

.add-note:hover, .back:hover {
    background-color: #da9c00;
}

.add-note {
    margin-bottom: 48px;
}

.back {
    display: flex;
    margin-top: 64px;
    margin-bottom: 96px;
}

.slider-section {
    margin: auto;
    margin-left: 36px;
    margin-right: 16px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.slider-section .slides-border-container {
    overflow: hidden;
    border-radius: 32px;
    width: 100%;
}

.slider-section .slides {
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    box-sizing: border-box;
    width: 100%;
    column-gap: 7em;
}

.slides-div {
    flex: 0 0 100%;
    scroll-snap-align: start;
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0;
    border-radius: 32px;
}

.slides-div .chart_img_div {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: -9px;
}

.slides-div .chart_img_div img {
    width: 100%;
    height: auto;
    border-radius: 32px;
    object-fit: contain;
    flex-shrink: 1;
}

.slides-div .chart_img_div .big {
    display: none;
}

.slides-div .chart_img_div .medium {
    display: flex;
}

.slides-div .chart_img_div .small {
    display: none;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.arrow {
    display: inline-block;
    width: 32px;
    height: 54px;
    cursor: pointer;
    transition: background-image 0.3s ease;
}

.arrow-left {
    background: url('arrow_left.png') no-repeat center;
    background-size: cover;
}

.arrow-left:hover {
    background: url('arrow_dark_left.png') no-repeat center;
    background-size: cover;
}

.arrow-right {
    background: url('arrow_right.png') no-repeat center;
    background-size: cover;
}

.arrow-right:hover {
    background: url('arrow_dark_right.png') no-repeat center;
    background-size: cover;
}

.dot-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot-div .dot {
    display: inline-flex;
    margin: 24px 9px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    background-color: #FFB800;
    border-radius: 50%;
    transition: background-color 300ms ease;
}

.dot-div .dot:hover {
    background-color: #da9c00;
}

.dot-div .dot::before {
    position: relative;
    top: -31px;
    left: -1px;
    font-family: 'Inter', sans-serif;
    content: "•";
    font-size: 75px;
    color: white;
    transition: color 300ms ease;
    pointer-events: none;
}

.dot-div .dot:hover::before {
    color: #c5c5c5;
}

.dot-div .dot.aktywny::before {
    color: #505050;
}

@media screen and (max-width: 1648px) {
    .details-start {
        margin-bottom: 0;
    }

    .mother-title {
        margin-left: 80px;
        margin-top: 6px;
        margin-bottom: 16px;
        font-size: 32px;
    }

    .info-box {
        margin-left: 0px;
    }
    
    .info-icon {
        width: 32px;
        height: 32px;
    }
    
    .info-box .text {
        font-size: 30px;
    }
    
    .info-box .value {
        font-size: 30px;
    }
    
    .info-box .status {
        font-size: 32px;
    }
}

@media screen and (max-width: 1456px) {
    .info-box {
        padding-right: 0px;
    }

    .info-box .value {
        margin-right: 0px;
    }

    .detail-info {
        padding-right: 0px;
    }
}

@media screen and (max-width: 1200px) {
    .title {
        line-height: 36px;
        height: 114px;
        padding-bottom: 14px;
    }

    .pen-icon {
        top: 33px;
        right: 22px;
        width: 38px;
        height: 38px;
    }
    
    .details-content {
        padding: 0;
        margin: 0;
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        min-width: 227px;
    }

    .detail-info {
        padding-right: 16px;
    }

    .details {
        display: flex;
        margin: 121px 32px;
        margin-bottom: 64px;
    }
    
    .details-title {
        font-size: 32px;
        line-height: 32px;
        margin: 20px;
        margin-top: 36px;
    }

    .mother-title {
        margin: 24px 20px;
        margin-top: 16px;
        margin-bottom: 24px;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        justify-content: center;
    }

    .detail-info {
        margin-top: 22px;
    }

    .info-box {
        margin: 0;
        padding: 0;
    }
    
    .info-icon {
        display: none;
        margin-top: 0;
    }

    .info-box .text,
    .info-box .value,
    .info-box .status {
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        padding-bottom: 10px;
    }

    .info-box .value {
        font-weight: 700;
    }

    .info-box .status-icon {
        display: flex;
    }

    .info-box .status {
        margin-top: 20px;
        font-size: 24px;
    }
    
    .info-box .status-icon {
        margin-top: 4px;
    }

    .add-note, .back {
        margin-top: 24px;
        margin-bottom: 28px;
        padding: 14px 24px;
    }
    
    .back {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 64px auto;
        margin-bottom: 96px;
        white-space: normal;
        word-wrap: break-word;
        text-align: center;
        max-width: 324px;
        width: calc(100% - 64px);
    }

    .detail-info {
        border-bottom: 6px solid #FFB800;
        margin-top: 24px;
    }

    .detail-chart {
        padding: 0;
        margin: 0;
        display: flex;
    }

    .slider-section {
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        margin: 0;
    }

    .slider-section .slides-border-container {
        overflow: hidden;
        border-radius: 0;
        background: white;
        width: 100%;
    }
    
    .slides-div {
        flex: 0 0 100%;
        scroll-snap-align: start;
        display: flex;
        overflow-y: hidden;
        overflow-x: hidden;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 0;
        border-radius: 32px;
    }
    
    .slides-div .chart_img_div {
        width: 100%;
        margin: 0;
        padding: 0;
        flex-shrink: 1;
        margin-bottom: -9px;
    }
    
    .slides-div .chart_img_div img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
        flex-shrink: 1;
    }

    .slides-div .chart_img_div .big {
        display: flex;
    }
    
    .slides-div .chart_img_div .medium {
        display: none;
    }

    .slides-div .chart_img_div .small {
        display: none;
    }

    .controls {
        border-top: 6px solid #FFB800;
        width: 100%;
        gap: 6px;
    }
    
    .arrow {
        width: 28px;
        height: 48px;
    }

    .dot-div .dot {
        margin: 16px 9px;
        height: 29px;
        width: 29px;
    }
    
    .dot-div .dot::before {
        top: -21px;
        left: 0px;
        font-size: 53px;
    }
}

@media screen and (max-width: 600px) {
    .dot-div .dot {
        margin: 16px 6px;
    }

    .slides-div .chart_img_div .big {
        display: none;
    }
    
    .slides-div .chart_img_div .medium {
        display: flex;
    }
    
    .slides-div .chart_img_div .small {
        display: none;
    }
}

@media screen and (max-width: 432px) {
    .pen-icon {
        width: 32px;
        height: 32px;
        top: 36px;
        right: 20px;
    }

    .details-title {
        margin-left: auto;
        margin-right: 40px;
    }
    
    .mother-title {
        margin: 24px 16px;
        margin-top: 22px;
        font-size: 20px;
        line-height: 20px;
        display: block;
    }

    .detail-info {
        margin-top: 26px;
    }

    .info-box .text,
    .info-box .value,
    .info-box .status {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        padding-bottom: 14px;
    }

    .info-box .value {
        font-weight: 700;
        padding-left: 16px;
    }

    .info-box .status {
        margin-top: 20px;
        font-size: 20px;
    }
    
    .info-box .status-icon {
        margin-top: 4px;
    }

    .add-note, .back {
        padding: 10px 20px;
        font-size: 20px;
        line-height: 22px;
    }

    .back {
        width: calc(100% - 142px);
    }

    .controls {
        gap: 4px;
    }

    .arrow {
        width: 26px;
        height: 44px;
    }

    .dot-div .dot {
        margin: 16px 4px;
        height: 29px;
        width: 29px;
    }

    .slides-div .chart_img_div .big {
        display: none;
    }
    
    .slides-div .chart_img_div .medium {
        display: none;
    }
    
    .slides-div .chart_img_div .small {
        display: flex;
    }
}

@media screen and (max-width: 368px) {
    .dot-div .dot {
        margin: 16px 3px;
        height: 25px;
        width: 25px;
    }

    .dot-div .dot::before {
        top: -19px;
        left: 0px;
        font-size: 46px;
    }

    .arrow {
        width: 24px;
        height: 40px;
    }
}
