* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #f9f9f9;
    background-color: #211A3A;
    display: flex;
    height: 100vh;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    padding: 0 24px;
    background-color: #2b2042;
    color: #817695;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.navbar div {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .hamburger-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.navbar img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.container {
    display: flex;
    width: 100%;
    margin-top: 56px;
    height: calc(100vh - 56px);
}

.sidebar {
    width: 30%;
    background-color: #2b2042;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.sidebar header {
    margin-bottom: 30px;
}

.sidebar header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.sidebar header nav a {
    color: #6b6780;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    height: 44px;
}

.sidebar header nav a.active {
    color: #9383fc;
    position: relative;
}

.sidebar header nav a.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #9383fc;
    border-radius: 4px 4px 0 0;
}

.sidebar header nav .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #402f53;
    box-shadow: 3px 3px 8px #1a1321,
                -3px -3px 8px #664b85;
    color: #807594;
    font-size: 1.75em;
    border: none;
    cursor: pointer;
}

.conversation-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.conversation {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    background: #382a4c;
    cursor: pointer;
    box-shadow: 4px 4px 8px #1a1321,
               -4px -4px 8px #664b85;
}

.conversation.active {
    position: relative;
}

.conversation.active::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 6px;
    background-color: #9383fc;
    border-radius: 6px 0 0 6px;
}

.conversation .top-row, 
.conversation .bottom-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conversation img {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}

.conversation .name-and-status {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    text-align: left;
    flex: 1;
}

.conversation .name {
    font-size: 1em;
    color: #807594;
}

.conversation .status {
    font-size: 0.75em;
    color: #baadd1;
    margin-top: 8px;
}

.conversation .timestamp {
    font-size: 0.75em;
    color: #baadd1;
    margin-left: 12px;
    text-align: right;
    width: 68px;
}

.conversation .bottom-row {
    margin-top: 16px;
}

.conversation .message-preview {
    flex: 1;
    margin-right: 36px;
    color: #dedce4;
    font-size: 0.85em;
}

.conversation .notification {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9383fc;
    color: white;
    font-weight: bold;
    font-size: 0.85em;
    border-radius: 50%;
}

.chat {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.chat-header {
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    border-bottom: 2px #2b2042 solid;
}

.user-row-layout {
    display: flex;
    align-items: center;
    gap: 12px;
}

.user-row-layout div {
    display: flex;
    flex-direction: column;
}

.chat-header img.avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.chat-header h2 {
    font-size: 1.2em;
    font-weight: 100;
    color: #dedce4;
    margin-bottom: 10px;
}

.chat-header p {
    font-size: 0.8em;
    color: #807594;
}

.purple-color-dot {
    color: #9383fc;
    font-size: 1.15em;
}

.main-div-icon-chat {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
}

.div-icon-chat {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 48px;
    min-height: 48px;
    border-radius: 50%;
    background: #402f53;
    box-shadow: 3px 3px 8px #1a1321,
                -3px -3px 8px #664b85;
    color: #807594;
    border: none;
    cursor: pointer;
}

.icon-chat {
    width: 20px;
    height: 20px;
}

.messages {
    flex: 1;
    padding-top: 32px;
    padding-left: 64px;
    padding-right: 48px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background: linear-gradient(to bottom, #211A3A, #372646);
}

.message {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.message .avatar-and-message {
    display: flex;
    align-items: end;
    gap: 12px;
}

.message .div-img-message {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #382a4c;
}

.message.sent .div-img-message {
    background: #725ac1;
}

.message .div-img-message img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.message .bubble {
    padding: 20px;
    max-width: 40%;
    border-radius: 8px;
    background: #382a4c;
    box-shadow: 3px 3px 16px #1a1321,
               -3px -3px 16px #664b85;
    font-size: 0.95em;
    line-height: 1.4;
}

.message .bubble .voice {
    display: flex;
    align-items: center;
    gap: 16px;
}

.message .bubble .voice .div-icon-chat {
    flex-shrink: 0;
}

.message .bubble .voice .voice-img {
    flex-shrink: 1;
    flex-grow: 0;
    width: auto;
    height: 22px;
    object-fit: cover;
    overflow: hidden;
    margin-left: 0;
}

.message.received .bubble {
    margin-left: 8px;
}

.message.sent .bubble {
    background: #725ac1;
    margin-left: auto;
}

.message .time {
    font-size: 0.8em;
    color: #807594;
    padding-bottom: 16px;
}

.message.received .time {
    margin-left: 100px;
}

.message.sent .time {
    margin-left: auto;
    margin-right: 100px;
}

.chat-footer {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 16px;
    padding-left: 48px;
    padding-right: 48px;
    background: #3a2b47;
}

.message-input {
    flex: 1;
    padding-left: 32px;
    border: none;
    font-size: 1em;
    background: #3a2b47;
}
