.title {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 128px;
    margin: 0 24px;
    flex-shrink: 0;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.notes {
    display: flex;
    margin: 128px;
    margin-top: 72px;
    margin-bottom: 32px;
    border-radius: 64px;
    border: 6px solid #FFB800;
    overflow: hidden;
}

.image-container {
    width: 30%;
    max-width: 456px;
    min-height: 634px;
    height: auto;
    border-right: 6px solid #FFB800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    display: block;
}

.notes-content {
    flex: 1;
    padding: 0;
    margin: 0;
}

.notes-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-top: 8px;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.notes-title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0 24px;
}

.notes-title-section > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.notes-title-section > div > span {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.notes-title-section > div:nth-child(1),
.date {
    flex: 0 0 300px;
}

.notes-title-section > div:nth-child(2),
.delete {
    flex: 0 0 64px;
    margin: 0 12px;
}

.notes-title-section > div:nth-child(3),
.note-text {
    flex: 1;
}

.notes-list {
    margin-top: 12px;
}

.note {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    margin: 24px 0;
}

.date {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    text-align: end;
}

.delete {
    background: none;
    border: none;
}

.delete img {
    width: 52px;
    height: auto;
    cursor: pointer;
}

.note-text {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

.add-note, .back {
    display: block;
    margin: 32px auto;
    margin-top: 48px;
    padding: 14px 48px;
    text-align: center;
    font-family: 'Cairo', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    background: #FFB800;
    border: 3px solid #997C31;
    cursor: pointer;
    border-radius: 32px;
    transition: background-color 300ms ease;
}

.add-note:hover, .back:hover {
    background-color: #da9c00;
}

.back {
    display: flex;
    margin-bottom: 48px;
}

.note-info {
    text-align: center;
    font-family: 'Cairo', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin: 16px 128px;
    margin-bottom: 96px;
}

@media screen and (max-width: 1648px) {
    .notes-title-section > div:nth-child(1),
    .date {
        flex: 0 0 192px;
    }
}

@media screen and (max-width: 1456px) {
    .image-container {
        width: 25%;
    }
}

@media screen and (max-width: 1200px) {
    .notes {
        display: flex;
        margin: 128px 32px;
        margin-top: 28px;
        margin-bottom: 64px;
    }

    .image-container {
        display: none;
    }

    .notes-title {
        font-size: 32px;
        margin: 20px;
    }

    .notes-title-section {
        display: none;
    }

    .note {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-top: 6px solid #FFB800;
        margin: 12px 0;
        padding: 0 20px;
    }

    .date, 
    .delete, 
    .note-text {
        flex: none;
        width: auto;
        max-width: 100%;
    }

    .date {
        width: 100%;
        text-align: center;
        padding: 16px 0;
        padding-bottom: 12px;
    }

    .note-text {
        width: 100%;
        text-align: left;
        order: 2;
    }

    .delete {
        order: 3;
        align-self: flex-end;
        padding: 0;
        margin: 0;
        margin-top: 16px;
    }

    .delete img {
        width: 45px;
        height: auto;
    }

    .notes-list .note:last-child {
        padding-bottom: 12px;
        border-bottom: 6px solid #FFB800;
    }

    .add-note, .back {
        margin-top: 32px;
        padding: 14px 24px;
    }
    
    .back {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 64px auto;
        white-space: normal;
        word-wrap: break-word;
        text-align: center;
        max-width: 324px;
        width: calc(100% - 64px);
    }
    
    .note-info {
        font-size: 24px;
        margin: 16px 32px;
        margin-bottom: 96px;
    }
}

@media screen and (max-width: 432px) {
    .date {
        font-size: 30px;
    }

    .add-note, .back {
        padding: 10px 20px;
        font-size: 20px;
        line-height: 22px;
    }

    .back {
        width: calc(100% - 142px);
    }
}
