html {
    height: 100%;
    overflow: auto;
}

body {
    max-width: 390px;
    max-height: 968px;
    width: 390px;
    height: 968px;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #efeef4;
    border: 1px solid #c6c6c6;
    position: relative;
    overflow: hidden;
}

.card {
    width: 100%;
    background: #f0eff5;
}

.food-image img {
    width: 100%;
    height: auto;
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
}

.highlight {
    color: #dfa126;
}

.card-content {
    padding: 28px;
}

.card-content h2 {
    font-size: 1.35em;
    margin: 8px;
    color: #3f3f3f;
}

.buttons {
    padding: 24px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
    display: flex;
    gap: 16px;
}

button {
    padding: 10px;
    min-height: 30px;
    border: none;
    display: flex;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
}

button.inactive {
    color: #5a5a5a;
    background: #edecef;
    box-shadow: 4px 4px 8px #cccbce,
                -4px -4px 8px #ffffff;
}

.star-icon img,
.map-icon img,
.scooter-icon img {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.description {
    font-size: 0.825em;
    color: #555;
    line-height: 1.4;
    margin-bottom: 16px;
}

.nutrition {
    display: flex;
    justify-content: space-between;
    font-size: 0.85em;
    color: #666;
    padding-bottom: 20px;
    padding-top: 20px;
}

.nutrition .strong-text {
    font-weight: bold;
    color: #2b2b2b;
    padding-bottom: 12px;
}

.nutrition .number-text {
    display: flex;
    align-items: center;
    justify-content: center
}

.nutrition .strong-number {
    font-weight: bold;
    color: #2b2b2b;
    font-size: 1.35em;
}

.nutrition > div {
    flex: 1;
    text-align: center;
    border-right: 2px solid #dfa126;
    padding: 0 8px;
}

.nutrition > div:last-child {
    border-right: none;
}

.price-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #dfa126;
    color: #f9edd6;
    padding: 32px;
    height: 32px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 0px -8px 16px #ffffff;
}

.price {
    font-size: 1.5em;
}

.quantity-control {
    display: flex;
    align-items: center;
    gap: 16px;
}

.quantity-control button {
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 8px;
    font-size: 1.5em;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #f9edd6;
    background: #dfa126;
    box-shadow: 2px 2px 8px #949396,
                -2px -2px 8px #ffffff;
}

.quantity {
    font-size: 1.15em;
}

.add-to-bag-background {
    background: #dfa126;
}

.add-to-bag {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 32px;
    height: 32px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    background: #eeedf3;
    color: #3c3c3c;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

.add-to-bag img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
