.independent-box {
    position: absolute;
    z-index: -1;
}

.independent-box:nth-child(1) {
    background: linear-gradient(180deg, #e0dde7, #efeef4);
    top: 0px;
    left: 0px;
    width: 108px;
    height: 300px;
}

.independent-box:nth-child(2) {
    background: #f4f3f8;
    top: -160px;
    left: 150px;
    width: 280px;
    height: 320px;
    border-radius: 50%;
}

.independent-box:nth-child(3) {
    background: #f9f9fb;
    top: -120px;
    left: 190px;
    width: 200px;
    height: 240px;
    border-radius: 50%;
}

html {
    height: 100%;
    overflow: auto;
}

body {
    max-width: 390px;
    max-height: 986px;
    width: 390px;
    height: 986px;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #efeef4;
    border: 1px solid #c6c6c6;
    position: relative;
    overflow: hidden;
}

header {
    color: #b7b7b7;
}

.top-bar {
    padding: 36px;
    padding-top: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icon img,
.search-icon img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

h1 {
    padding-left: 32px;
    margin: 0;
    font-size: 2.25em;
    font-weight: 500;
}

.highlight {
    color: #dfa126;
}

.buttons {
    padding: 32px;
    padding-bottom: 16px;
    display: flex;
    gap: 16px;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

button {
    min-width: 132px;
    min-height: 48px;
    border: none;
    font-weight: bold;
    border-radius: 16px;
    cursor: pointer;
}

button.inactive {
    color: #b7b7b7;
    background: #edecef;
    box-shadow: inset 4px 4px 8px #cccbce,
                inset -4px -4px 8px #ffffff;
}

button.active {
    color: #f6f3f2;
    background: #dfa126;
    box-shadow: 4px 4px 8px #c0bfc4,
                -4px -4px 8px #ffffff;
}

.card-container {
    padding: 32px;
    padding-bottom: 80px;
    display: flex;
    gap: 32px;
    max-width: 100%;
    overflow: hidden;
    justify-content: space-around;
}

.card {
    min-width: 208px;
    min-height: 400px;
    border-radius: 16px;
    overflow: hidden;
    background: #F0EFF5;
    box-shadow: 12px 12px 16px #c0bfc4,
                -12px -12px 16px #ffffff;
}

.card img {
    width: auto;
    height: 200px;
}

.card-content {
    padding: 16px;
}

.card-content h2 {
    font-size: 1.2em;
    margin: 0;
}

.card-content p {
    color: #a5a5a5;
    font-size: 0.85em;
    margin: 16px 0;
    line-height: 1.5;
}

.card-content .strong-p {
    color: #7b7b7b;
    font-weight: 600;
}

.info {
    display: flex;
    justify-content: space-between;
}

.info span {
    color: #dfa126;
    font-size: 2.05em;
}

.explore-icon img,
.heart-icon img,
.map-icon img,
.shop-icon img,
.profile-icon img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

footer {
    background: #e7e6ec;
    padding: 48px 8px;
    height: 32px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 0px -8px 16px #ffffff;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 8px;
}

nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #1e1e1f;
    font-weight: bold;
}

nav div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
